@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&family=Lato:ital,wght@0,400;0,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ec5242;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

#header {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 1px 2px rgba(78, 49, 49, 0.05);
}

.social-header {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 100%;
  background: #272a31;
  gap: 20px;
  align-items: center;
  padding-inline: 13.2vw;
}

.social-header img {
  height: 18px;
  width: auto;
}

.social-header a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 14px 24px;
  align-items: center;
}

.desk_nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  gap: clamp(0.65vw, (100vw - 900px) * 1000, 32px);
  padding-right: 12rem;
}

.square {
  border: 5px solid red;
}

.menu-icon {
  display: none;
}

#close-menu {
  display: none;
}

.desk_nav li a {
  color: #272a31;
}

.logo {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  padding-top: 2rem;
}

.headline {
  background-image: url("images/hero-bg-desktop.png");
  width: 100%;
  /* height:900px; */
  display: flex;
  flex-flow: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.headline_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  width: 920px;
  margin: 10rem;
}

h2 {
  font-size: 52px;
  color: #ec5242;
  background-image: linear-gradient(
    -225deg,
    #a01e10 0%,
    #2a0c4b 29%,
    #ec5242 67%,
    #ec5242 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.line {
  align-self: center;
}

.description {
  color: #272a31;
  line-height: 3rem;
  font-size: 24px;
  margin: 20px;
  background-color: #d3d3d300;
  box-shadow: 2px 2px 6px #b4aeae;
  height: 200px;
  width: 70rem;
  border-radius: 4px;
  padding: 18px 2px;
  opacity: 5;
  align-self: center;
  border: 3px solid #d3d3d3;
  text-align: center;
}

.venue {
  margin-top: 20px;
  font-size: 24px;
}

.link-venue {
  font-size: 24px;
  font-weight: bolder;
  color: #272a31;
  align-self: center;
}

.logo-section {
  display: flex;
  padding-block: 33px;
  flex-flow: column;
  text-align: center;
  align-items: center;
  gap: 35px;
  padding-inline: 10.5px;
  border-bottom: 2px solid #fafafa;
  font-weight: 700;
}

.ict-logo {
  color: #272a31;
  margin: 20px;
  align-self: center;
  text-align: center;
  font-size: 24px;
}

.about-logo {
  width: 50%;
  color: #272a31;
  font-size: 18px;
}

.pass-section {
  display: flex;
  padding-block: 33px;
  flex-flow: column;
  text-align: center;
  align-items: center;
  gap: 35px;
  padding-inline: 10.5px;
  border-bottom: 2px solid #fafafa;
  font-weight: 700;
  margin-top: 30px;
  border-top: 1px solid #d3d3d3;
}

.pass-meet {
  flex-flow: column;
  gap: 35px;
  justify-content: center;
}

.pass-conf {
  color: #272a31;
  margin: 20px;
  align-self: center;
  text-align: center;
  font-size: 24px;
}

.partner-section {
  display: none;
  background-color: #272a31;
  color: #d3d3d3;
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding: 40px;
}

.partner-ul {
  display: flex;
  gap: 50px;
  margin: auto;
  width: 33%;
  padding-top: 10px;
  text-decoration: line-through;
  font-size: 24px;
}

.partner-li {
  padding: 30px 0;
}

footer {
  width: 100%;
  height: 10rem;
  padding: 20px 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 300px;
  flex-direction: row;
}

.about-footer {
  background: #272a31;
  /* width: 100vw; */
}

.white-footer {
  color: #d3d3d3;
}

.mobile-lists {
  display: none;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #ec5242;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
  }

  #header {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 50px;
    padding: 1%;
    color: black;
    margin-top: 10rem;
  }

  .headline {
    background-image: url("images/hero-bg-mobile.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    max-width: 760px;
    height: 50rem;
  }

  .headline_container {
    max-width: 45rem;
    margin: 150px 180px 289px 15px;
  }

  h2 {
    font-size: 24px;
    color: #ec5242;
    max-width: 35rem;
    margin-left: 12rem;
    justify-content: center;
  }

  .description {
    color: #272a31;
    font-size: 18px;
    font-weight: 500;
    margin-left: 3rem;
    background-color: #d3d3d300;
    box-shadow: 2px 2px 6px #b4aeae;
    height: 200px;
    max-width: 28rem;
    border-radius: 4px;
    /* padding: 18px 2px; */
    opacity: 5;
    /* align-self: center; */
    border: 3px solid #d3d3d3;
    text-align: center;
    line-height: 2rem;
    justify-content: center;
  }

  .venue {
    margin-top: 20px;
    font-size: 18px;
    margin-left: 12rem;
    text-align: center;
    max-width: 25rem;
  }

  .link-venue {
    font-size: 24px;
    font-weight: bolder;
    color: #272a31;
    text-align: center;
    max-width: 25rem;
  }

  .logo-section {
    display: flex;
    padding-block: 33px;
    flex-flow: column;
    text-align: center;
    gap: 35px;
    padding-inline: 10.5px;
    border-bottom: 2px solid #fafafa;
    font-weight: 700;
    max-width: 45rem;
    margin-right: 130px;
  }

  .ict-logo {
    color: #272a31;
    /* margin: 20px; */
    text-align: center;
    font-size: 24px;
  }

  .about-logo {
    /* width: 50%; */
    color: #272a31;
    font-size: 18px;
    width: 15rem;
  }

  .pass-section {
    display: flex;
    padding-block: 33px;
    flex-flow: column;
    text-align: center;
    align-items: center;
    gap: 35px;
    padding-inline: 10.5px;
    border-bottom: 2px solid #fafafa;
    font-weight: 700;
    margin-top: 30px;
    border-top: 1px solid #d3d3d3;
    margin-right: 130px;
  }

  .pass-meet {
    flex-flow: row;
    gap: 45x;
    justify-content: center;
  }

  .pass-conf {
    color: #272a31;
    margin: 20px;
    align-self: center;
    text-align: center;
    font-size: 24px;
  }

  .partner-section {
    display: flex;
    background-color: #272a31;
    justify-content: center;
    font-size: 16px;
    width: 45rem;
    padding: 40px;
  }
  .partner-ul {
    display: flex; 
   gap: 5px;
   width: 25rem;
   padding-top: 10px;
   font-size: 12px;
   justify-content: center;
 
   /* margin: auto; */
 }

 .ul-container{
  margin-top: 20px;
 }

 .partner-li {
   /* padding: 30px 0; */
   max-width: 25rem;
   margin-right: 130px;
 }


  .partner-title {
    color: #d3d3d3;
  }

  footer {
    width: 45rem;
    height: 10rem;
    /* padding: 50px 0px; */
   
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background: #d3d3d3;
  }

  .about-footer {
    background: #d3d3d300;
    /* width: 100vw; */
  }

  .white-footer {
    color: #272a31;
  }

  .mobile-lists {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    margin-top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(85, 101, 243, 0.7);
    background-color: rgba(41, 58, 208, 0.8);
    backdrop-filter: blur(5px);
    font-family: "Poppins", sans-serif;
    transition: all 0.3s linear;
  }

  .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* margin: auto; */
    padding: 20px 0;
    width: 80%;
    font-size: 2rem;
  }

  .mobile-list a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    align-self: flex-start;
  }

  .close-icon {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
